form {
    align-items: center;
    justify-content: center;
    background-color: fff;
    

    &,
    .field {
        display: flex;
        flex-direction: column;
    }

    .field { 
        input,
        select {
            height: 20px;
            width: 250px;
        }

        &.error {
            border: 2px solid red;
        }
    }
}