form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 672px;

    &,
    .field {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        margin-top: 41px;

        .field {
            margin: 0;

            input {
                width: 212px;
            }

            &:nth-child(2) {
                margin-left: 16px;
            }
        }
    }

    .field { 
        margin-top: 41px;
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;

        label {
            color: #C9C9C9;
            font-size: 17px;
            position: absolute;
            pointer-events: none;
            bottom: 25px;
            transition: font-size 0.25s ease, bottom 0.25s ease;
        }

        p {
            opacity: 0;
            color: #DE4B4B;
        }

        &:nth-child(1) {
            margin-top: 0;
        }
        input{
            height: 20px;
        }

        input,
        select {
            margin: 6px 0;
            padding: 12px 0;
            width:  440px;
            border: none;
            border-bottom: 1px #C9C9C9 solid;
            color: #3C3C3C;
            font-size: 17px;
            outline: none;
        }

        select{
            color: #C9C9C9
        }

        .option{
            color:#3C3C3C
        }

        input::after {
            content: 'Teste';
            display: block;

        }

        &.error {
            input {
                border-bottom: 1px solid red;
            }

            p {
                opacity: 1;
            }
        }
        
        &.filled {
            label {
                bottom: 48px;
                font-size: 13px;
            }
        }
    }

    button{
        cursor: pointer;
        outline: none;
        color: white;
        width: 246px;
        height: 51px;
        background-color: #DE4B4B;
        border-radius: 10px;
        border: none;
        margin: 65px 0 65px 197px;
        transition: background-color 0.25s ease;

        &:hover {
            background-color: rgb(175, 57, 57) ;
        }
    }
}


@media only screen and (max-width: 360px) {
    form{
        margin-bottom: 20px;
        width: 360px;
        margin-top: 100px;

        .field{
            margin-top: 10px;
            input, 
            select{
                width: 280px;
            }
        }
        .row {
            margin-top: 25px;
            .field {
                
                input {
                    width: 135px;
                    margin-top: 0;
                }
    
                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
        }

        button{
            width: 280px;
            height: 51px;
            margin: auto;
            margin-top: 45px;
        }
        
    }
}