$flip-time: 0.5s;

.credit-card {
    position: relative;
    display: flex;
    margin-right: -80px;
    z-index: 1;
    text-shadow: 0 2px 3px #000000ca;

    .front,
    .back {
        display: flex;
        width: 364px;
        height: 224px;
        transition: transform $flip-time cubic-bezier(0.755, 0.05, 0.855, 0.06);
        border-radius: 15px;
        box-shadow: -1px 9px 12px 3px #00000030;
    }

    .brand {
        background: transparent url('../../assets/img/Image\ 1.png') 0% 0% no-repeat;
        z-index: 3;
        width: 69px;
        height: 23px;
    }

    .front {
        transform: rotateY(0deg);
        flex-direction: column;
        justify-content:  space-around;
        align-items: flex-start;
        background: transparent url('../../assets/img/anCard.svg') 0% 0% no-repeat padding-box;
        color: #fff ;
        padding: 0 0 0 26px;
        transition-delay: $flip-time;

        .cardNumber {
            font-size: 24px;
            letter-spacing: 5px;
        }

        .nameCard {
            width: 299px;
            display: flex;
            justify-content: space-between;
        }
    }

    .back {
        position: absolute;
        transform: rotateY(90deg);
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background: transparent url('../../assets/img/anBackCard.svg') 0% 0% no-repeat padding-box;
    }

    &.flipped {
        .front {
            transform: rotateY(90deg);
            transition-delay: unset;
        }

        .back {
            transform: rotateY(0deg);
            transition-delay: $flip-time;

            .cvv {
                padding: 95px 165px;
            }

        }
    }
    
}