.header {
    flex-direction: row;
    justify-content: space-between;
    width: 413px;
    margin: 50px 0 65px 0;

    &,
    p,
    .progress-indicator {
        display: flex;
        align-items: center;
    }

    p {
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-content: space-between;
        color: #DE4B4B ;
    }

    .progress-indicator {
        border: 1px solid #DE4B4B;
        border-radius: 50%;
        margin-right: 6px;
        height: 22px;
        width: 22px;
        justify-content: center;

        &.checked{
            background-color: #DE4B4B ;
            
        }
    }
}