*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  display: flex;
  justify-content: center;
}

.left-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color:#DE4B4B ;
  height: 100%;
  width: 352px;
}
.left-container .title-credit{
  display: flex;
  flex-direction: column;
}
.left-container .title-credit .title-small {
  display: none;
}
.left-container .title-credit .title-high {
  display: block;
}
.left-container .title-credit p:nth-child(1){
  display: flex;
  align-items: center;
  font-size: 13px ;
  font-family: Verdana;
  color: #fff;
  /* font-weight: bold; */
  margin-top: 50px;
}
.left-container .title-credit p:nth-child(2){
  font-size: 20px ;
  font-family: Verdana;
  font-weight: bold;
  color: #fff;
}

.left-container .title-credit .leficonM {
  margin-right: 5px;
}
.left-container .title-credit img {
  height: 50px;
  padding: 0 15px 0 0 ;
}
.left-container .title-credit div {
  display: flex;
  justify-content: flex-end;
  width: 272px;
  height: 50px;
  margin: 54px 16px 31px 0;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



@media only screen and (max-width: 361px) {
  .left-container{
    align-items: center;
    width: auto;
  }

  .left-container .title-credit .title-small {
    display: block;
    margin-left: 65px;
    font-size: 13px;
  }
  .left-container .title-credit .title-high {
    display: none;
  }
  .left-container .title-credit div {
    margin: 23px 16px 31px 0;
  }
}